<div class="row">
  <div class="small-12 medium-6 small-centered columns">
    <div class="row collapse">
      <div class="small-12 small-offset-3 columns">
        <h1>
          <% if @component.id == nil %>
            Create an model component
          <% else %>
            Update the model component
          <% end %>
        </h1>
      </div>
    </div>
    <p>
      <%= form_for @component do |f| %>
        <% if @component.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@component.errors.count, "error") %>
              prohibited this component from being saved:</h2>
            <ul>
              <% @component.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :title, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.text_field :title, placeholder: "Model title without version number." %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :role, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.select(:role, Component.roles.keys.map {|role| [role.titleize,role]}) %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :versions, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.text_field :versions, placeholder: "Available model versions separated by comma." %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :resolutions, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.text_field :resolutions, placeholder: "Available model resoluations separated by comma." %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :contact, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <% if @component.new_record? %>
              <%= f.text_field :contact, value: current_user.name %>
            <% else %>
              <%= f.text_field :contact, placeholder: "Who is responsible for this model?" %>
            <% end %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :email, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <% if @component.new_record? %>
              <%= f.text_field :email, value: "#{current_user.email}" %>
            <% else %>
              <%= f.text_field :email, placeholder: "Contacter's email." %>
            <% end %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :home_url, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.text_field :home_url, placeholder: "Where to find the model information?" %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns"><%= f.label :comment, class: "right inline" %></div>
          <div class="small-9 medium-9 columns"><%= f.text_area :comment, placeholder: "Any word about the model." %></div>
        </div>
        <div class="row collapse">
          <div class="small-12 small-offset-3 columns">
            <button type="submit" class="button radius">
              <%= fa_icon "save" %>
            </button>
          </div>
        </div>
      <% end %>
    </p>
  </div>
</div>
