<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row"><p>
    <div class="small-6 small-centered columns">
      <%= devise_error_messages! %>
      <!-- <div class="row">
        <div class="small-6 columns">
          <%= f.text_field :first_name, placeholder: 'First name', autofocus: true %>
        </div>
        <div class="small-6 columns">
          <%= f.text_field :last_name, placeholder: 'Last name' %>
        </div>
      </div> --!>
      <%= f.text_field :first_name, placeholder: 'First name', autofocus: true %>
      <%= f.text_field :last_name, placeholder: 'Last name' %>
      <%= f.text_field :email, placeholder: 'Email' %>
   	  <%= f.password_field :password, placeholder: 'Password', autocomplete: "off"  %>
   	  <%= f.password_field :password_confirmation, placeholder: 'Confirm password', autocomplete: "off"  %>
      <%= f.submit "Register for making contribution", class: "button radius" %>
    </div>
  </p></div>
<% end %>
