<div class="row">
  <div class="small-12 medium-6 small-centered columns">
    <p>
      <%= form_for :diag, url: experiment_diags_path, html: { :multipart => true } do |f| %>
        <div class="row collapse">
          <div class="small-12 small-offset-3 columns">
            <h1>
              <% if @diag.id == nil %>
                Create a diagnostics
              <% else %>
                Update the diagnostics
              <% end %>
            </h1>
          </div>
        </div>
        <% if @diag.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@diag.errors.count, "error") %>
              prohibited this diagnostics from being saved:</h2>
            <ul>
              <% @diag.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :category, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.select(:category, Diag.categories.keys.map {|category| [category.upcase,category]}) %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :contact, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <% if @diag.new_record? %>
              <%= f.text_field :contact,
              value: "#{current_user.first_name} #{current_user.last_name}" %>
            <% else %>
              <%= f.text_field :contact %>
            <% end %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :email, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <% if @diag.new_record? %>
              <%= f.text_field :email, value: current_user.email %>
            <% else %>
              <%= f.text_field :email %>
            <% end %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :comment, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.text_area :comment %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-12 small-offset-3 columns">
            <button type="submit" class="button radius">
              <%= fa_icon "save" %>
            </button>
          </div>
        </div>
      <% end %>
    </p>
  </div>
</div>
