<div class="row">
  <div class="small-12 small-centered columns">
    <div class="panel">
      <h1><%= @diag.category.upcase %> diagnostics</h1>
      <p>
        Created at <%= @diag.created_at %> by
        <a href="mailto:<%= @diag.email %>"><%= @diag.author %></a><br>
        <a href="<%= experiment_path(@diag.experiment_id) %>", class="button radius">
          <i class="fa fa-arrow-left"></i>
        </a>
        <% if user_signed_in? %>
          <% if @diag.created_by_user == current_user.id or current_user.admin?  %>
            <% if can? :update, Diag %>
              <a href="<%= edit_diag_path(@diag) %>", class="button radius">
                <i class="fa fa-edit"></i>
              </a>
            <% end %>
            <% if can? :destroy, Diag %>
              <%= link_to diag_path(experiment_id: @diag.experiment_id, id: @diag.id),
                class: "button radius alert",
                method: :delete,
                data: { confirm: 'Are you sure to delete this diagnostics?' } do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="panel">
      <h1>Figures</h1>
      <p>
        <a href="<%= new_diag_figure_path(@diag) %>", class="button radius">
          <i class="fa fa-plus-square"></i>
        </a>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
          <% @diag.figures.each do |f| %>
            <li>
              <div class="panel">
                <%= link_to f.title, figure_path(f) %><br>
                <%= image_tag f.file.url(:small) %>
              </div>
            </li>
          <% end %>
        </ul>
      </p>
    </div>
  </div>
</div>
