<div class="row">
  <div class="small-12 media-8 small-centered columns">
    <% experiment = get_diag_experiment(@figure.diag_id) %>
    <% diag = Diag.find(@figure.diag_id) %>
    <nav class="breadcrumbs">
      <a href="<%= experiments_path %>">Experiments</a>
      <a href="<%= experiment_path(experiment) %>">Experiment</a>
      <a href="<%= diag_path(@figure.diag_id) %>">Diagnostics</a>
      <a href="#" class="current">Figure</a>
    </nav>
    <div class="panel">
      <table>
        <tbody>
          <tr>
            <td class="key"><strong>Experiment</strong></td>
            <td class="value"><%= experiment.title %></td>
          </tr>
          <tr>
            <td class="key"><strong>Diagnostics</strong></td>
            <td class="value"><%= diag.category.upcase %></td>
          </tr>
          <tr>
            <td class="key"><strong>Figure</strong></td>
            <td class="value"><%= @figure.title %></td>
        </tbody>
      </table>
      <p>
        Created at
        <%= @figure.created_at %>
        by
        <span data-tooltip data-options="disable_for_touch:true" class="has-tip" title="Send email to this guy.">
          <a href="mailto:<%= User.find(@figure.created_by_user).email %>">
            <%= User.find(@figure.created_by_user).name %>
          </a>
        </span>
      </p>
      <p>
        <figure>
          <% if not browser.safari? %>
            <%= image_tag @figure.file.url(:medium) %>
          <% else %>
            <%= image_tag @figure.file.url(:medium) %>
          <% end %>
          <figcaption>
            <%= @figure.comment %>
          </figcaption>
        </figure>
      </p>
      <p>
        <% if user_signed_in? %>
          <% if @figure.created_by_user == current_user.id or current_user.admin? %>
            <% if can? :update, Figure %>
              <span data-tooltip data-options="disable_for_touch:true" class="has-tip" title="Edit this figure.">
                <a href="<%= edit_figure_path(@figure) %>", class="button radius">
                  <i class="fa fa-edit"></i>
                </a>
              </span>
            <% end %>
            <% if can? :destroy, Figure %>
              <span data-tooltip data-options="disable_for_touch:true" class="has-tip" title="Delete this figure. Be careful!">
                <%= link_to figure_path(@figure),
                  class: "button radius alert", method: :delete,
                  data: { confirm: 'Are you sure to delete this figure?' } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
