<div class="row">
  <div class="small-12 media-8 small-centered columns">
    <h1>Figure:
      <%= @figure.title %></h1>
    <p>
      <figure>
        <%= image_tag @figure.file.url(:small) %>
        <figcaption>
          <%= @figure.comment %>
        </figcaption>
      </figure>
    </p>
    <p>
      <a href="<%= experiment_path(id: @figure.experiment_id) %>", class="button radius"><i class="fa fa-arrow-left"></i></a>
      <a href="<%= edit_experiment_figure_path(experiment_id: @figure.experiment_id, id: @figure.id) %>", class="button radius"><i class="fa fa-edit"></i></a>
      <%= link_to experiment_figure_path(experiment_id: @figure.experiment_id, id: @figure.id),
        class: "button radius alert",
        method: :delete, data: { confirm: 'Are you sure to delete this figure?' } do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </p>
  </div>
</div>
