<div class="row">
  <div class="small-12 medium-6 small-centered columns">
    <div class="row collapse">
      <div class="small-12 small-offset-3 columns">
        <h1>
          Update user #<%= @user.id %>
        </h1>
      </div>
    </div>
    <p>
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %>
              prohibited this experiment from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :first_name, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.text_field :first_name %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :last_name, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :email, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.text_field :email %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :role, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-12 small-offset-3 columns">
            <button type="submit" class="button radius">
              <%= fa_icon "save" %>
            </button>
          </div>
        </div>
      <% end %>
    </p>
  </div>
</div>
