<div class="row">
  <div class="small-12 medium-6 small-centered columns">
    <div class="row collapse">
      <div class="small-12 small-offset-3 columns">
        <h1>
          <% if @experiment.id == nil %>
            Create an experiment
          <% else %>
            Update the experiment
          <% end %>
        </h1>
      </div>
    </div>
    <p>
      <%= form_for @experiment do |f| %>
        <% if @experiment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@experiment.errors.count, "error") %>
              prohibited this experiment from being saved:</h2>
            <ul>
              <% @experiment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :title, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.text_field :title %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :model, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.select :model_id, Model.all.map {|m| [m.title,m.id]} %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :date, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <%= f.text_field :date %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :contact, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <% if @experiment.new_record? %>
              <%= f.text_field :contact, value: current_user.name %>
            <% else %>
              <%= f.text_field :contact %>
            <% end %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns">
            <%= f.label :email, class: "right inline" %>
          </div>
          <div class="small-9 medium-9 columns">
            <% if @experiment.new_record? %>
              <%= f.text_field :email, value: "#{current_user.email}" %>
            <% else %>
              <%= f.text_field :email %>
            <% end %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 medium-3 columns"><%= f.label :comment, class: "right inline" %></div>
          <div class="small-9 medium-9 columns"><%= f.text_area :comment %></div>
        </div>
        <!-- TODO: Change the following elements. -->
        <% if @experiment.model_id %>
          <div class="panel">
            <div class="alert-box warning">
              I will make the following settings of the versions and resolutions of
              model components show up when the experiment is added.
            </div>
            <% model = get_model(@experiment.model_id) %>
            <% model.components.each do |c| %>
              <div class="row collapse">
                <div class="small-1 medium-3 columns">
                  <%= f.label c.title+"_version", class: "right inline" %>
                </div>
                <div class="small-9 medium-9 columns">
                  <%= f.select c.role+"_version", get_available_versions(c) %>
                </div>
              </div>
              <div class="row collapse">
                <div class="small-1 medium-3 columns">
                  <%= f.label c.title+"_resolution", class: "right inline" %>
                </div>
                <div class="small-9 medium-9 columns">
                  <%= f.select c.role+"_resolution", get_available_resolutions(c) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="row collapse">
          <div class="small-12 small-offset-3 columns">
            <button type="submit" class="button radius">
              <%= fa_icon "save" %>
            </button>
          </div>
        </div>
      <% end %>
    </p>
  </div>
</div>
