<div class="row">
  <div class="small-12 medium-8 small-centered columns">
    <h1>Experiment</h1>
    <p>
      <table class="profile">
        <tbody>
          <tr>
            <td class="key"><strong>Title</strong></td>
            <td class="value"><%= @experiment.title %></td>
          </tr>
          <tr>
            <td class="key"><strong>Date</strong></td>
            <td class="value"><%= @experiment.date %></td>
          </tr>
          <tr>
            <td class="key"><strong>Author</strong></td>
            <td class="value"><a href="mailto:<%= @experiment.mail %>"><%= @experiment.author %></a></td>
          </tr>
          <tr>
            <td><strong>Comment</strong></td>
            <td><%= @experiment.comment %></td>
          </tr>
        </tbody>
      </table>
    </p>
    <p>
      <a href="<%= experiments_path %>", class="button radius">
        <i class="fa fa-arrow-left"></i>
      </a>
      <a href="<%= edit_experiment_path(@experiment) %>", class="button radius">
        <i class="fa fa-edit"></i>
      </a>
      <a href="<%= new_experiment_figure_path(@experiment.id) %>", class="button radius">
        <i class="fa fa-plus-square"></i>
      </a>
      <%= link_to experiment_path(@experiment),
        class: "button radius alert",
        method: :delete, data: { confirm: 'Are you sure to delete this experiment?' } do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </p>
    <p>
      <% @experiment.figures.each do |f| %>
        <%= link_to "#{f.title}",
          experiment_figure_path(experiment_id: f.experiment_id,
                                 id: f.id) %><br>
        <%= image_tag f.file.url(:small) %><br>
      <% end %>
    </p>
  </div>
</div>
