<div class="row">
  <div class="small-12 small-centered columns">
    <div class="panel">
      <h1>Experiment</h1>
      <p>
        <table class="profile">
          <tbody>
            <tr>
              <td class="key"><strong>Title</strong></td>
              <td class="value"><%= @experiment.title %></td>
            </tr>
            <tr>
              <td class="key"><strong>Date</strong></td>
              <td class="value"><%= @experiment.date %></td>
            </tr>
            <tr>
              <td class="key"><strong>Author</strong></td>
              <td class="value"><a href="mailto:<%= @experiment.email %>"><%= @experiment.author %></a></td>
            </tr>
            <tr>
              <td><strong>Comment</strong></td>
              <td><%= @experiment.comment %></td>
            </tr>
          </tbody>
        </table>
      </p>
      <p>
        <span data-tooltip data-options="disable_for_touch:true" class="has-tip" title="Back to experiment list.">
          <a href="<%= experiments_path %>", class="button radius">
            <i class="fa fa-arrow-left"></i>
          </a>
        </span>
        <% if user_signed_in? %>
          <% if @experiment.created_by_user == current_user.id or current_user.admin? %>
            <% if can? :update, Experiment %>
              <span data-tooltip data-options="disable_for_touch:true" class="has-tip" title="Edit experiment information.">
                <a href="<%= edit_experiment_path(@experiment) %>", class="button radius">
                  <i class="fa fa-edit"></i>
                </a>
              </span>
            <% end %>
            <% if can? :destroy, Experiment %>
              <span data-tooltip data-options="disable_for_touch:true" class="has-tip" title="Delete this experiment. Be careful!">
                <%= link_to experiment_path(@experiment),
                  class: "button radius alert",
                  method: :delete,
                  data: { confirm: 'Are you sure to delete this experiment?' } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="panel">
      <h1>Diagnostics</h1>
      <p>
        <% if can? :create, Diag %>
          <span data-tooltip data-options="disable_for_touch:true" class="has-tip" title="Add new diagnostics.">
            <a href="<%= new_experiment_diag_path(@experiment.id) %>", class="button radius">
              <i class="fa fa-plus-square"></i>
            </a>
          </span>
        <% end %>
        <ul class="small-block-grid-1 medium-block-grid-3">
          <% @experiment.diags.each do |d| %>
            <li>
              <div class="panel diag">
                <%= link_to "#{d.category.upcase}", diag_path(d) %>
              </div>
            </li>
          <% end %>
        </ul>
      </p>
    </div>
  </div>
</div>
